version: '3.8'

services:
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile_MaxatD
    image: tg/todo-app:1.1
    container_name: todo-app_MaxatD
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - DB_URL=jdbc:postgresql://db:5432/tododb
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
    networks:
      - app-network

  db:
    image: postgres:15-alpine
    container_name: postgres_MaxatD
    environment:
      - POSTGRES_DB=tododb
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  db_data:

networks:
  app-network:
    driver: bridge
